<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>Probe Hawk</title>
    <link type="text/css" rel="stylesheet" href="/s/css/font.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/s/css/default.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/s/css/app.css" media="all" />
</head>
<body>
    <header id="header">
        <div class="c">
            <a href="/" class="logo">Probe Hawk</a>
            <nav class="site">
                <li><a href="/logs">Logs</a></li>
                <li><a href="/devices">Devices</a></li>
                <li><a href="/networks">Networks</a></li>
                <!--
                <li><a href="#">Tags</a></li>
                <li><a href="#">Agents</a></li>
                -->
            </nav>
            <nav class="user">
                <!--
                <li><a href="#">Log in</a></li>
                -->
            </nav>
        </div>
    </header>
    <div id="main">
        <div class="c">
            {{ content }}
        </div>
    </div>
    <script src="/s/js/lib/moment.min.js"></script>
    <script src="/s/js/lib/jsuri-1.1.1.js"></script>
    <script src="/s/js/lib/promise-7.0.4.min.js"></script>
    <script src="/s/js/ph.js"></script>
    <script src="/s/js/ph.xhr.js"></script>
    <script src="/s/js/main.js"></script>
    <script src="/s/js/logs.js"></script>
    <script src="/s/js/devices.js"></script>
    <script src="/s/js/networks.js"></script>
</body>
</html>
