<h1>Logs</h1>
<div class="right">
    <div class="c" id="agents">
        <h3>Agents</h3>
        <table>
            <td class="status">&#9679;</td>
            <td>mr3040a</td>
        </table>
    </div>
    <div class="c">
        <h3>Daily Unique</h3>
        <table id="daily-data">
        </table>
    </div>
    <div class="c">
        <h3>Time of Day Unique</h3>
        <table id="timely-data">
        </table>
    </div>
    <div class="c">
        <h3>Weekday Unique</h3>
        <table id="weekday-data">
        </table>
    </div>
</div>
<div class="main">
    <div id="pagination-top" class="pagination">
    </div>
    <table class="log-data">
        <tbody id="log-data">
        </tbody>
    </table>
    <div id="pagination" class="pagination">
    </div>
</div>
