<h1>Upload</h1>
<div class="main">
    <form action="load" class="standard" method="post" enctype="multipart/form-data" style="background: rgba(255,255,255,0.1); padding: 2em;">
        <div class="field">
            <label for="agent">Agent</label>
            <select id="agent" class="text" name="agent">
                <option value="1">mr3040</option>
            </select>
        </div>
        <div class="field">
            <label for="file">File</label>
            <input type="file" name="file" id="file"/>
        </div>
        <div class="field submit">
            <input type="submit" class="submit"/>
        </div>
    </form>
</div>
